<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Expires" content="0">
	<meta http-equiv="Last-Modified" content="0">
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
	<meta http-equiv="Pragma" content="no-cache">

    <title>Mi Huerto</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" style="background: #10B859" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Mi<strong> Huerto</strong></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Men&uacute; de Opciones
            </div>

            <!-- Nav Item - Empleados -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/inicio/listEmpleados"
                    aria-expanded="true">
                    <i class="material-icons">supervisor_account</i>
                    <span>Administrar Empleados</span>
                </a>
            </li>

            <!-- Nav Item - Clientes -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/inicio/listClientes"
                    aria-expanded="true">
                    <i class="material-icons">manage_accounts</i>
                    <span>Clientes Registrados</span>
                </a>
            </li>

			<!-- Nav Item - Productos -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/inicio/listAllProductos"
                    aria-expanded="true">
                    <i class="material-icons">inventory2</i>
                    <span>Administrar Productos</span>
                </a>
            </li>

            <!-- Nav Item - Pedidos -->
            <li class="nav-item">
                <a class="nav-link" href="/inicio/verPedidos">
                    <i class="material-icons">receipt</i>
                    <span>Ver Pedidos</span></a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span sec:authentication="name" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle"
                                    src="../img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Editar Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesi&oacute;n
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="card shadow mb-4">
                <div th:if="${error != null}"
		     			th:text="${error}">
					</div>
					<div class="alert alert-success" th:if="${success != null}"
		     			th:text="${success}">
					</div>
                	<div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
                    </div>
                    <div class="card-body">
                    <div class="table-responsive">
                	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					                <thead>
										<tr>
											<th>Usuario</th>
											<th>Cantidad de productos</th>
											<th>Fecha Realizaci&oacute;n</th>
											<th>Precio Total</th>
											<th>Valoraci&oacute;n</th>
											<th>Estado de entrega</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody th:each="pedido: ${pedidos}">
										<tr>
											<th th:text="${pedido.usuario.nombre} + ' ' + ${pedido.usuario.apellidos}"></th>
											<th th:text=${pedido.productos.size()}></th>
											<th th:text=${pedido.fecha_pedido}></th>
											<th th:text=${pedido.precioTotal}></th>
											<th th:text="${pedido.valoracion == null} ? 'Sin valorar' : ${pedido.valoracion}"></th>
											<th th:text="${pedido.entrega != 0} ? 'Entregado' : 'No entregado'"></th>
											<th th:if="${pedido.entrega !=1 }">
												<a data-toggle="modal" data-target="#confirmModal">
												<button type="button" class="btn btn-primary">Confirmar entrega</button>
												</a>
											</th>
										</tr>
										<!-- Confirm Modal-->
									    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
									        aria-hidden="true">
									        <div class="modal-dialog" role="document">
									            <div class="modal-content">
									                <div class="modal-header">
									                    <h5 class="modal-title" id="exampleModalLabel">Pedido</h5>
									                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
									                        <span aria-hidden="true">x</span>
									                    </button>
									                </div>
									                <div class="modal-body">&iquest;Desea confirmar la entrega?</div>
									                <div class="modal-footer">
									                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
									                    <a th:href="@{/inicio/verPedidos/confirmar/} + ${pedido.id}" method="post">
									                    	<button class="btn btn-primary">Confirmar</button>
									                    </a>
									                </div>
									            </div>
									        </div>
									    </div>
									</tbody>
								</table>
						</div>
					</div>
				</div>
	            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesi&oacute;n</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">&iquest;Desea cerrar sesi&oacute;n?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <form th:action="@{/logout}" method="post">
                    	<button class="btn btn-primary">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/chart-area-demo.js"></script>
    <script src="../js/demo/chart-pie-demo.js"></script>

</body>

</html>